/* GENERAL */

body{
    font-family: Raleway, Sans-serif; 
    margin:0;  
}

li{
    list-style-type: none;
}

a{
    color: black;
    text-decoration: none;
}
.prix{
    font-weight: bold;
}


/*HEADER*/

#logo {
    margin: 20px 20px 10px 20px;
}

#inscription {
	position: absolute;
	right: 25px;
	top: 45px;
	font-weight:800;
}

#inscription a {
	color: #0065FC;
}

#inscrire a:hover {
	font-weight: bolder;
}

.menu ul {
    display: flex;
    padding:0;    
}

#nav_hebergements, #nav_activites {
	border-bottom : solid 3px #F2F2F2;
	padding-bottom: 15px;	
    text-align: center;
    width:50%;
}


#nav_hebergements:active, #nav_activites:active {
	border-bottom: solid 3px #0065FC;
	color: #0065FC;
}



/* RECHERCHE */

#recherche{
    padding:0 20px 0 20px;
}

#recherche h1{
    font-size: 22px;
    font-weight: bolder;

}

#barre_de_recherche{
    display: flex;
	align-items: center;
	border-radius: 15px;
	border: 2px #F2F2F2 solid;
	height: 45px;
	width: 95%;
    max-width: 400px;
    margin-top: 30px;    
}

#icone_lieu{
    display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
    margin-right: 10px;
    background-color:#F2F2F2;
    border-radius: 15px 0 0 15px;
}

#loupe{
    font-size: 17px;
}

#text{
    width: 100%;
    height: 90%;
    border: none;
    font-weight: bold;	
}

#submit{
    background-color: #0065FC;
	color: white;
    border: none;
    border-radius: 15px;
    padding: 15px;
    cursor:pointer;
}
#bouton{
    display:none;
}

/* FILTRES */

.ecoflex{
    display: flex;    
}

#filtres {
	margin:20px 20px 0 20px;
}

#filtres h2{
    padding:0;
    font-size:18px;
    font-weight: bold;
}

.option_filtres{
	display: flex;
    align-items: center;
    border: 2px #F2F2F2 solid;  
    border-radius: 25px;
    width: max-content;
    margin-bottom: 10px;
    margin-right: 10px;
    color:black;
    font-weight:800;  
}

.option_filtres:hover{
    background-color:#F2F2F2;
    color: #0065FC;
}

.option_filtres i{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 25px;
    min-height: 45px;
    min-width: 45px;   
}

.option_filtres span{
    margin: 0 18px 0 18px;
}



/* INFO */

.info{
    display: flex;
    align-items: center;
    margin: 10px 0 20px 20px; 
}

.icone_info{
    width: 25px;
    height: 25px;
    min-width:25px;
    min-height:25px;
    border: solid 1px #d9d9d9;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 20px;  
    color:#0065FC;
    font-size: 12px;
}    


/* POPULAIRES */

#populaires{
    background-color:#F2F2F2;
    padding:20px 0 20px 0;   
}

.titre_popu{
    display: flex;
    justify-content: space-between;
}

h2{
    padding-left: 18px;
}
.carte_popu{
    
    background:white;
    border-radius: 15px;
    box-shadow:  3px 3px 12px #e9e7e9;
    width: 90%;
    margin-left:18px;
    margin-bottom: 10px;    
}
.img_popu{
    width:40%;
    height:140px;
    object-fit: cover;
    margin:5px;
    border-radius:15px 0 0 15px;
    margin-right: 15px;
}
.description{
    display: flex;   
}

.legende_popu h3{
    margin-top:15px;
    font-weight: 800;
}

.legende_popu p{
    margin-top:12px;
    padding-left: 0px;    
}

.legende_popu .evaluation{
    padding-left: 0px;
    margin-top:38px;
}

.fa-star{
    font-size: 12px;
    letter-spacing: -2px;
    
}

.blue{
    color:#0065FC;
}

.grey{
    color:#F2F2F2
}

/* HEBERGEMENTS */

.titre_hebergements{
    padding-top:25px;
    padding-left: 22px;
    font-weight: bold;
}

.carte_hebergements{
    background:white;
    border-radius: 15px;
    box-shadow:  3px 3px 12px #e9e7e9;
    width: 90%;
    margin-bottom: 10px;
    margin-left:18px;
    
}
.img_hebergements{
    width:97%;
    height:120px;
    padding:5px 5px 0 5px;
    object-fit: cover;
    margin:auto;
    border-radius:15px 15px 0 0;
}

.legende_hebergements h3, .evaluation{
    padding-left:22px;      
}

.legende_hebergements p{
    padding-left: 22px;
    
}

h3{
    margin-top:2px;
    margin-bottom:2px;
    font-size: 16px;
    font-weight: 800;
}

.legende_hebergements p{
    margin-top:3px;
    margin-bottom:3px;
    font-size: 14px;
}

.legende_hebergements .evaluation{
    padding-bottom:10px;
    letter-spacing: -2px;
}

.afficher_plus{
    padding: 20px 0 20px 22px;
    font-size: 20px;
    font-weight : bold;        
}

/* ACTIVITES */

.titre_activites{
    padding-left: 22px;
}

.carte_activites{
    background:white;
    border-radius: 15px;
    box-shadow:  3px 3px 12px #e9e7e9;
    width: 90%;
    margin-left:18px;
    margin-bottom: 10px;
}

.img_activites{
    width:100%;
    height:140px;
    object-fit: cover;
    margin:auto;
    border-radius:15px 15px 0 0;
}

.legende h3{
    padding-bottom:23px;
    padding-left:22px;
    padding-top:10px;
}

/* FOOTER */

footer{
    
    background-color:#F2F2F2;
    margin-top:50px;
    padding:20px;
}

footer li {
    margin-bottom: 10px;
}

footer ul{
    padding-left:0;
}

/* PETITES RESOLUTIONS */

@media screen and (max-width:374px)

{
    .ecoflex{
        display: block;    
    }
}
/* AFFICHAGE TABLETTE */


@media screen and (min-width: 475px) 

{
    .romflex{
        display: flex;
    }

    .icone_info{
        margin-bottom: 0;
    }

}



/* Affichage en ligne du header et du footer + remplacement de la loupe par le bouton */

@media screen and (min-width: 650px) 

{

    header {
        display: flex;
        justify-content: space-between;
    }

    header li {
        padding: 16px 32px 16px 32px;
    }
    ul{
        margin-top:6px;
    }

    #inscription:first-child {
        position: static;
        order: 2;
        margin-left: 15px;
        margin-right: 15px;
    }

    #nav_hebergements, #nav_activites {
        border: none;
    }

    #nav_hebergements:hover, #nav_activites:hover {
        border-top: 3px solid #0065FC;
        border-bottom: none;
        margin-top: -6px;
        padding-top: 20px;
    }

    .menu a:hover{
        color:#0065FC;
    }
    
    /* RECHERCHE */

    #bouton{
        display:block;
    } 
    #loupe{
        display:none;
    } 
    #submit{
        border-radius: 0 15px 15px 0;
    } 

    #hebergements_maincontainer{
        display: flex;
    }
    
    #maincontainer{
        display: flex;
    }
    footer{
        display: flex;
        justify-content: flex-start;      
    }
    .mentions{
        margin:0 auto;     
    }

}

/* Affichage filtres en ligne */

@media screen and (min-width:925px)

{

/*Filtres*/

#filtres{
    display: flex;
}

#filtres h2{
    margin:10px 30px 0 8px;
    
}

#selection_filtres{
   display: flex;
   flex-direction: row;
}

.option_filtres{
margin-right: 20px;
}


}
    

@media screen and (min-width:1024px)

{
  
   
/* RECHERCHE */

#bouton{
    display:block;
} 
#loupe{
    display:none;
} 
#submit{
    border-radius: 0 15px 15px 0;
} 

#flexdesk{
    display: flex;         
}



/* POPULAIRES */

#populaires{
    order:2;
    flex:1;  
    border-radius: 15px;
    margin-right:12px; 
    padding-left: 10px; 
    padding-right: 10px;
}


#populaires h2{
    margin-bottom: 30px;
}

.carte_popu{
    margin-bottom: 30px;
}


/* HEBERGEMENTS */

#hebergements_container1, #hebergements_container2{
    display: flex;
}

#hebergements_maincontainer{
    display: block;
}

#hebergements{
    order:1;
    flex:2;  
    margin-right: 30px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 30px;
    background-color: #F2F2F2; 
    border-radius: 15px;
}

#hebergements_container1{
    margin-bottom: 20px;
}


/* ACTIVITES */


#maincontainer{
    display: flex;
}

#container1, #container2{
    display: flex;   
}

.flex1 img{
    height:390px;
}

.flex2 img{
    height:390px;
}

.souscontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#container1 .flex1{
    height:450px;
}

#container2 .flex2{
    height:450px;
}

.container1 .carte_activites{
    margin-bottom: 0;
}
.souscontainer .carte_activites{
    margin-bottom: 8;
}



/* FOOTER    alignement à gauche des mentions  */

    .mentions{
        margin-left:0;

    }

   

}






