/* GENERAL*/

body{
    font-family: Raleway, sans-serif;
    margin: 0;    
}

li{
    list-style-type: none;
}

a{
    color: black;
    text-decoration: none;
}

.prix{
    font-weight: bold;   
}

span.prix{
    margin-left: 0;
}

h3{
    font-size: 16px;
}

.fa-star{
    font-size: 12px;
    
    
}

/*HEADER*/

.logo {
    margin: 25px 20px 10px 20px;
}

.inscription {
	position: absolute;
	right: 25px;
	top: 45px;
	font-weight:800;
}

.inscription a {
	color: #0065FC;
}

.inscrire a:hover {
	font-weight: bolder;
}

.menu ul {
    display: flex;
    padding:0;    
}

#nav_hebergements, #nav_activites {
	border-bottom : solid 3px #F2F2F2;
	padding-bottom: 15px;	
    text-align: center;
    width:100%;
}


#nav_hebergements:active, #nav_activites:active {
	border-bottom: solid 3px #0065FC;
	color: #0065FC;
}



/* SECTION RECHERCHE */

.recherche{
    margin:30px;
}

.recherche h1{
    font-size: 22px;
    font-weight: bolder;
}

.barre_de_recherche{
    display: flex;
	align-items: center;
	border-radius: 15px;
	border: 2px #F2F2F2 solid;
	height: 45px;
	width: 95%;
    max-width: 400px;
    margin-top: 30px;    
}

.icone_lieu{
    display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
    margin-right: 10px;
    background-color:#F2F2F2;
    border-radius: 15px 0 0 15px;
}

.loupe{
    font-size: 17px;
}

.text{
    width: 100%;
    height: 90%;
    border: none;
    font-weight: bold;
    outline:none;	
}

.submit{
    background-color: #0065FC;
	color: white;
    border: none;
    border-radius: 15px;
    padding: 15px;
    cursor:pointer;
}
.bouton{
    display:none;
}

/* SECTION FILTRES */

.ecoflex{
    display: flex;    
}

.filtres {
	margin:30px;
}

.filtres h2{
    padding:0;
    font-size:18px;
    font-weight: bold;
}

.option_filtres{
	display: flex;
    align-items: center;
    border: 2px #F2F2F2 solid;  
    border-radius: 25px;
    width: max-content;
    margin-bottom: 10px;
    margin-right: 10px;
    color:black;
    font-weight:800;  
}

.option_filtres:hover{
    background-color:#F2F2F2;
    color: #0065FC;
}

.option_filtres i{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 25px;
    min-height: 45px;
    min-width: 45px;   
}

.option_filtres span{
    margin: 0 18px 0 18px;
}



/* INFO */

.info{
    display: flex;
    align-items: center;
    margin: 10px 0 20px 30px; 
}

.icone_info{
    width: 25px;
    height: 25px;
    min-width:25px;
    min-height:25px;
    border: solid 1px #d9d9d9;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 20px;  
    color:#0065FC;
    font-size: 12px;
}    




/* SECTION POPULAIRES */

#section_populaire{
    background-color: #F2F2F2;
    padding:7%;
}

.titre_popu{
    display: flex;
    justify-content: space-between;
    margin-top:4px;
    font-size: 23px;
}

.fa-chart-line{
    margin-top:3px;
}


.fa-star{
    color:#0065FC ;
}

.star_grey{
    color:#F2F2F2;
}

.carte_populaire a:visited{
    color: black;
}

.carte_populaire{
    width: 100%;
    margin:0 0 10px 0;
    
}
.carte_populaire a{
    color: black;
    text-decoration: none;
    display: flex;
    background-color: white;
    padding: 4px;
    border-radius: 1em;
    box-shadow:  3px 3px 12px #e9e7e9;
    width: fit-content;
}
.carte_populaire img{
    width: 120px;
    min-width: 120px;
    height: 120px;
    min-height: 120px;
    object-fit: cover;
    border-radius: .8em 0em 0em .8em;
}

.block_text_populaire{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block_text_populaire h3,.block_text_populaire p{
    margin: 0px;
    margin-top: 4px;
}

.block_text_populaire span{
    margin-bottom: 6px;
}


/* SECTION HEBERGEMENTS*/

#hebergements{
    margin: 0 7% 7% 7%;
    padding: 0;
}

#hebergements H2{
    font-size: 23px;
}

.carte_hébergement{
    background-color: white;
    box-shadow:  3px 3px 12px #e9e7e9;
    margin:0 0 10px 0;
    border-radius: .8em;
    padding: 4px;
    width: 100%;
}

.carte_hébergement a:visited{
    color: black;
}
.carte_hébergement a{
    text-decoration: none;
    display: block;
    color: black;
    height: 100%;
}

.carte_hébergement img{
    width: 100%;
    height: 120px;
    border-radius: .8em .8em 0em 0em;
    object-fit: cover;
}

.groupe_titre_hébergement{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

.carte_hébergement h3{
    margin: 5px 0 7px 10px;
}

.carte_hébergement p{
    margin: 0 0 7px 10px;
}

.evaluation{
    margin-left:10px;
    margin-bottom:10px;
}




.afficher_plus{
    margin:30px 0;
    font-size: 20px;
    font-weight : bold;        
}

#afficher_plus:visited{
    color: black;
}

/* SECTION ACTIVITES */

#activites{
    margin: 0 7% 30px 7%;
}

#activites h2{
    margin: 0 0 7% 0;
    font-size: 23px;
}

.carte_activité{
    width: 100%;
    margin:0 0 10px 0;
    border-radius: 15px; 
    box-shadow:  3px 3px 12px #e9e7e9;
}

.carte_activité a:visited{
    color: black;
}

.carte_activité a{
    text-decoration: none;
    color: black;
}

.carte_activité img{
    width: 100%;
    height: 120px; 
    border-radius: .8em .8em 0em 0em;
    object-fit: cover;
}

.carte_activité p{
    font-size: 1em;
    font-weight: bold;
    margin: 0px 4px 4px 4px;
    padding: 10px;
}


/* FOOTER */

footer{
    
    background-color:#F2F2F2;
    margin-top:50px;
    padding:20px;
}

footer li {
    margin-bottom: 10px;
}

footer ul{
    padding-left:0;
}

/* Filtres sur deux lignes pour l'affichage sur tablette */


@media screen and (min-width: 475px) 

{
    .romflex{
        display: flex;
    }

    .icone_info{
        margin-bottom: 0;
    }

}

/* Footer sur une ligne */

@media screen and (min-width: 550px)           

{
    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
    } 

}

@media (min-width:650px){

    header {
        display: flex;
        justify-content: space-between;
    }

    header li {
        padding: 16px 32px 16px 32px;
    }
    
    ul{
        margin-top:6px;
    }

    .inscription:first-of-type {
        position: static;
        order: 3;
    }

    #nav_hebergements, #nav_activites {
        border: none;
    }

    #nav_hebergements:hover, #nav_activites:hover {
        border-top: 3px solid #0065FC;
        border-bottom: none;
        margin-top: -6px;
        padding-top: 20px;
    }

    .menu a:hover{
        color:#0065FC;
    }

    /* Remplacement de la loupe par le bouton */
    .bouton{
        display:block;
    }

    .loupe{
        display:none;
    } 

    .submit{
        border-radius: 0 15px 15px 0;
    }
}

@media (min-width:768px){
    
    
    
    /* SECTION POPULAIRES */

    #bloc_populaires{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .carte_populaires{
        padding-bottom: 30px;
        margin-bottom: 0;
        width: 45%;
    }
    
    /* SECTION HEBERGEMENT */

    #block_carte_hébergement{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .carte_hébergement{
        max-width: 45%;
        margin: 20px 0 0 0;
    }

    .carte_hébergement img{
        height: 110px;
    }
    .groupe_titre_hébergement{
        height: 80px;
    }
    
    /* SECTION ACTIVITES */

    #activites h2{
        margin-bottom: 30px;
    }

    .activité_groupe1,.activité_groupe2{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 22%;
    }

    #block_activité{
        display: flex;
        justify-content: space-between;
    }

    .big{
        height: 340px;
        max-width: 22%;
    }

    .big img{
        height: 300px;
    }

    .medium{
        height: 180px;
    }

    .medium img{
        height: 140px;
    }

    .small{
        height: 120px;
    }

    .small img{
        height: 80px;
    }

    .norm{
        height: 150px;
    }

    .norm img{
        height: 110px;
    }

    .carte_activité p{
        font-size: 13px;
    }

    .carte_activité{
        margin: 0px 0 40px 0px;
    }
    
}

/* Affichage filtres en ligne */

@media screen and (min-width:925px)

{

/*Filtres*/

    .filtres{
        display: flex;
    }

    .filtres h2{
        margin:10px 30px 0 8px;    
    }

    .selection_filtres{
        display: flex;
        flex-direction: row;
    }

    .option_filtres{
        margin-right: 20px;
    }


}

@media (min-width: 992px){

    .logo{
        margin-left:90px;
    }

    
    /* SECTIONS HEBERGEMENTS ET POPULAIRES SUR DEUX COLONNES */

    #bloc_hebergements_populaires{
        display: flex;
        justify-content: left;
    }
    #section_populaire{
        order: 2;
        border-radius: 15px;
        margin: 0 40px 50px 0;
        padding: 30px;
        width: 35%;
    }
    #bloc_populaires{
        flex-direction: column;
        
    }

    .carte_populaires,.carte_hébergement{
        font-size: .8em;
    }

    .carte_populaires{
        width: 100%;
    }

    #hebergements{
        background-color: #F2F2F2;
        border-radius: .8em;
        margin-right: 30px;
        margin-left: 40px;
        margin-bottom: 50px;
        padding: 30px;
    }

    #hebergements{
        width: 100%;
    }

    #hebergements h2{
        margin: 0;
    }

    #titre_populaire{
        margin: 0 0 20px 0;
    }

    .carte_hébergement{
        max-width: 30%;
    }

    #afficher_plus{
        margin: 30px 0 10px 0;
    }

    #activites{
        margin:0 40px;
    }

    /* FOOTER */

    footer{ 	
        padding: 0 40px;
    } 
    .assistance{
        margin-right: 250px;
    }
   
}
    
}

@media (min-width:1195px){
    
    .carte_populaires,.carte_hébergement{
        font-size: 1em;
    }


    .carte_activité p{
        font-size: 16px;
    }
}

/* Grandes résolutions */

@media screen and (min-width:1600px) 

{

   body{
       max-width: 1600px;
       margin: auto;
   } 



}